body {
    margin: 0px;

}

/* Home page */

@media screen and (max-width:767px) {
    .footer-page {
        height: 7vh;
        background-color: #7F669D;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;

        color: #ffffff;
        font-size: 15px;


    }

    .package-collections-page-list-card-item-1 {
        font-size: 22px;
        text-decoration: underline;
    }

    .package-collections-page-list-card-button {
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: transparent;
        width: 20vw;
        border-radius: 10px;
        height: 5vh;
        margin-top: 6px;
        text-align: center;
    }

    .package-collections-page-list-card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        height: 30vh;
        width: 60vw;
        align-self: center;
        list-style-type: none;
        font-size: 17px;
        color: #ffffff;
        font-family: Arial;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .package-collections-page-container {
        height: 100vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }

    .package-collections-page-heading {
        color: #ffffff;
        font-size: 26px;

    }

    .package-collections-page {
        height: 120vh;
        background-size: cover;
        background-color: #7286D3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hotel-booking-page-card-para {
        color: #9BABB8;
    }

    .hotel-booking-page-card-button-pgae {
        margin-left: 2px;
        margin-top: 4px;

    }

    .hotel-booking-page-card-button {
        height: 5vh;
        width: 20vw;
        border-radius: 10px;
        background-color: #3A98B9;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .hotel-booking-page-card-list-page {
        list-style-type: none;
        margin-top: 2px;

        display: flex;
        flex-direction: column;

        align-self: flex-start;

    }

    .hotel-booking-page-card-img {
        height: 22vh;
        width: 75vw;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .hotel-booking-page-card {
        height: 45vh;
        width: 75vw;
        background-color: #ffffff;
        border-radius: 14px;
        margin-bottom: 21px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .hotel-booking-page-1 {
        height: 80vh;
        width: 83vw;
        overflow-y: auto;
    }

    .hotel-booking-page-heading {
        color: #000000;
        font-size: 25px;
        font-family: Arial;

    }

    .hotel-booking-page {
        height: 100vh;
        background-size: cover;

        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Holiday-Packages-page-list-item-1 {
        color: darkorange;
    }

    .Holiday-Packages-page-list {
        color: grey;
    }

    .about-page-para-1 {
        font-size: 25px;
        color: #ffffff;
        background-color: darkblue;
        text-align: center;
        font-family: Arial;
        margin: 5px;
    }

    .home-page {
        height: 100vh;
        background-size: cover;
        background-image: url('https://res.cloudinary.com/dim1wzcyx/image/upload/v1710430031/iyocfnoj9f8llibsaq4m.jpg');
        padding: 1px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-page-heading {
        font-size: 25px;
        color: #ffffff;
        text-align: center;
        font-family: "Arial";


    }

    .home-page-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .home-page-button-1 {
        height: 6vh;
        width: 36vw;
        color: skyblue;
        background-color: #ffffff;
    }

    .home-page-button-2 {
        height: 6vh;
        width: 36vw;
        color: #ffffff;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #ffffff;
    }

    .Holiday-Packages-page {
        background-color: #000000;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .Holiday-Packages-page-heading {
        font-size: 25px;
        color: #ffffff;

        font-family: Arial;
    }

    .Holiday-Packages-page-list {
        height: 30vh;
        width: 50vw;
        background-color: #ffffff;
        border-radius: 10px;
        list-style-type: none;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .Holiday-Packages-page-list-button {
        height: 5vh;
        width: 20vw;
        border-radius: 10px;
        margin-top: 10px;
        color: #000000;
        background-color: #ffffff;
    }


}

@media screen and (min-width:576px) {
    .hotel-booking-page-card {
        height: 38vh;

    }

    .package-collections-page-list-card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        height: 20vh;

    }

    .package-collections-page {
        height: 100vh;

    }

}

@media screen and (min-width:768px) {
    .footer-page {
        height: 7vh;
        background-color: #7F669D;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;

        color: #ffffff;
        font-size: 15px;


    }

    .package-collections-page-list-card-item-1 {
        font-size: 22px;
        text-decoration: underline;
    }


    .package-collections-page-list-card-button {
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: transparent;
        width: 7vw;
        border-radius: 10px;
        height: 3vh;
        margin-top: 6px;
        text-align: center;

    }

    .package-collections-page-list-card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        height: 15vh;
        width: 20vw;
        align-self: center;
        list-style-type: none;
        font-size: 17px;
        color: #ffffff;
        font-family: Arial;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 20px;

    }

    .package-collections-page-container {
        height: 20vh;
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }

    .package-collections-page-heading {
        color: #ffffff;
        font-size: 26px;

    }

    .package-collections-page {
        height: 30vh;
        background-size: cover;
        background-color: #7286D3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .hotel-booking-page-card-para {
        color: #9BABB8;
    }

    .hotel-booking-page-card-button-pgae {
        margin-left: 2px;
        margin-top: 4px;

    }

    .hotel-booking-page-card-button {
        height: 3vh;
        width: 10vw;
        border-radius: 10px;
        background-color: #3A98B9;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .hotel-booking-page-card-list-page {
        list-style-type: none;
        margin-top: 2px;

        display: flex;
        flex-direction: column;

        align-self: flex-start;

    }

    .hotel-booking-page-card-img {
        height: 14vh;
        width: 35vw;


        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .hotel-booking-page-card {
        height: 25vh;
        width: 35vw;
        background-color: #ffffff;
        border-radius: 14px;
        margin-bottom: 8px;
        margin: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }



    .hotel-booking-page-1 {
        height: 110vh;
        width: 83vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        overflow-y: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .hotel-booking-page-heading {
        color: #000000;
        font-size: 25px;
        font-family: Arial;

    }

    .hotel-booking-page {
        height: 130vh;
        background-size: cover;

        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .flight-booking-page-list {

        color: #ffffff;

    }


    .Holiday-Packages-page-list {
        color: grey;
    }

    .about-page-para-1 {
        font-size: 25px;
        color: #ffffff;
        background-color: darkblue;
        text-align: center;
        font-family: Arial;
        margin: 5px;
    }

    .home-page {
        height: 100vh;
        background-size: cover;
        background-image: url('https://res.cloudinary.com/dim1wzcyx/image/upload/v1710432222/dnocbid759tg1gdjc0gf.jpg');
        padding: 1px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 80px;
    }

    .home-page-heading {
        font-size: 35px;
        color: #ffffff;
        text-align: center;
        width: 460px;
        font-family: "Arial";


    }

    .home-page-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .home-page-button-2 {
        height: 6vh;
        font-size: 21px;
        width: 20vw;
        color: #ffffff;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #ffffff;
        margin-bottom: 70px;
    }

    .Holiday-Packages-page {
        background-color: #000000;
        height: 60vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .Holiday-Packages-page-heading {
        font-size: 25px;
        color: #ffffff;

        font-family: Arial;
    }

    .Holiday-Packages-page-list {
        height: 12vh;
        width: 50vw;
        background-color: #ffffff;
        border-radius: 10px;
        list-style-type: none;

        display: flex;

        justify-content: center;
        align-items: center;

    }

    .Holiday-Packages-page-list-button {
        height: 5vh;
        width: 15vw;
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 20px;
        color: #000000;
        background-color: #ffffff;
    }

    .Holiday-Packages-page-list-item {
        padding-right: 10px;
    }

}


/* about page */

@media screen and (max-width:767px) {
    .about-page {
        height: 100vh;
        background-size: cover;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-page-heading {
        font-size: 25px;
        color: #000000;
        text-align: center;
        font-family: "Arial";
    }

    .about-page-img {
        height: 30vh;
        width: 75vw;
    }

    .about-page-para {
        width: 240px;
        font-family: Arial;
        text-align: center;

    }

    .about-page-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page-heading-1 {
        font-size: 30px;
        color: #000000;
        margin-left: 20px;
        align-self: flex-start;
        font-family: "Arial";
        display: none;
    }
}

@media screen and (min-width:576px) {
    .about-page {
        height: 100vh;
        background-size: cover;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-page-heading {
        font-size: 25px;
        color: #000000;
        text-align: center;
        font-family: "Arial";
    }

    .about-page-img {
        height: 30vh;
        width: 75vw;
    }

    .about-page-para {
        width: 420px;
        text-align: center;
        font-family: Arial;
    }

    .about-page-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .about-page {
        height: 100vh;
        background-size: cover;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-page-heading {
        font-size: 30px;
        color: #000000;
        text-align: center;
        font-family: "Arial";
    }

    .about-page-img {
        height: 30vh;
        width: 75vw;
    }

    .about-page-para {
        width: 570px;
        font-size: 24px;

        align-self: center;
        font-family: Arial;
    }

    .about-page-container {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page-heading-1 {
        font-size: 30px;
        color: #000000;
        margin-left: 20px;
        align-self: flex-start;
        font-family: "Arial";
        display: none;
    }
}

@media screen and (min-width:992px) {
    .about-page {
        height: 100vh;
        background-size: cover;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-page-container {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page-heading {
        font-size: 30px;
        color: #000000;
        text-align: center;
        font-family: "Arial";
    }

    .about-page-img {
        height: 40vh;
        width: 85vw;
    }

    .about-page-para {
        width: 820px;
        font-size: 24px;
        text-align: center;

        font-family: Arial;
    }

    .about-page-heading-1 {
        font-size: 30px;
        color: #000000;
        margin-left: 20px;
        align-self: flex-start;
        font-family: "Arial";

    }


}

@media screen and (min-width:1200px) {
    .hotel-booking-page-card-para {
        color: #9BABB8;
    }

    .hotel-booking-page-card-button-pgae {
        margin-left: 2px;
        margin-top: 4px;


    }

    .hotel-booking-page-card-button {

        height: 3vh;
        width: 7vw;
        border-radius: 10px;
        background-color: #3A98B9;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .hotel-booking-page-card-list-page {

        list-style-type: none;
        margin-top: 2px;

        display: flex;
        flex-direction: column;

        align-self: flex-start;

    }

    .hotel-booking-page-card-img {
        height: 19vh;
        width: 22vw;


        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .hotel-booking-page-card {
        height: 33vh;
        width: 22vw;
        background-color: #ffffff;
        border-radius: 14px;
        margin: 12px;


    }



    .hotel-booking-page-1 {
        height: 180vh;
        width: 90vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }

    .hotel-booking-page-heading {
        color: #000000;
        font-size: 25px;
        font-family: Arial;

    }

    .hotel-booking-page {
        height: 100vh;
        background-size: cover;

        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 120vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .Holiday-Packages-page-list-item {
        padding-right: 20px;
    }

    .Holiday-Packages-page-list-button {
        height: 3vh;
        width: 7vw;
        border-radius: 10px;
        margin: 10px;

    }

    .about-page {
        height: 100vh;
        background-size: cover;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-page-container {
        width: 1000px;
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-page-img {
        height: 40vh;
        width: 45vw;
        align-self: center;
        order: 0;
        margin-right: 10px;
    }

    .about-page-heading {
        font-size: 30px;
        color: #000000;
        text-align: center;
        font-family: "Arial";
        display: none;
    }

    .about-page-container-1 {
        width: 500px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page-heading-1 {
        font-size: 30px;

        color: #000000;
        margin-left: 40px;
        align-self: flex-start;
        font-family: "Arial";
        display: inline;
    }

    .about-page-para {
        margin-left: 40px;
        align-self: flex-start;
        width: 400px;
        font-size: 24px;
        text-align: start;

        font-family: Arial;

    }


}

/* flights page */
@media screen and (max-width:767px) {
    .flight-booking-page {
        height: 100vh;
        background-size: cover;
        background-color: #ababab;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flight-booking-page-heading {
        color: #ffffff;
        font-size: 27px;
        font-family: "Arial";
        align-self: flex-start;
        margin-left: 20px;
    }

    .flight-booking-page-line {
        width: 250px;
        color: #ffffff;
        align-self: flex-start;
    }

    .flight-booking-page-1 {
        height: 75vh;
        width: 75vw;


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        border-radius: 10px;
    }

    .flight-booking-page-list {
        height: 35vh;
        width: 50vw;
        color: #ffffff;
        list-style-type: none;
        background-color: lightblue;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .flight-booking-page-list-botton {
        border-radius: 10px;
        background-color: transparent;
        color: #ffffff;
        height: 22px;
        width: 60px;
        border: 1px solid #ffffff;
        margin-top: 7px;

        align-self: center;
    }
}

@media screen and (min-width:576px) {
    .flight-booking-page-line {
        width: 430px;

    }

    .flight-booking-page-heading {

        margin-left: 57px;
    }
}

@media screen and (min-width:768px) {
    .flight-booking-page {
        height: 70vh;
        background-size: cover;
        background-color: #ababab;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flight-booking-page-heading {
        color: #ffffff;
        font-size: 27px;
        font-family: "Arial";
        align-self: flex-start;
        margin-left: 79px;
    }

    .flight-booking-page-line {
        width: 570px;
        color: #ffffff;
        align-self: flex-start;

    }

    .flight-booking-page-1 {
        height: 35vh;
        width: 75vw;


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        border-radius: 10px;
        flex-wrap: wrap;
    }

    .flight-booking-page-list {
        height: 10vh;
        width: 25vw;
        list-style-type: none;
        background-color: lightblue;
        padding-top: 9px;
        padding-bottom: 7px;
        border-radius: 10px;
        margin-top: 20px;
        margin: 25px;
    }

    .flight-booking-page-list-botton {
        border-radius: 10px;
        background-color: transparent;
        color: #ffffff;
        height: 22px;
        width: 60px;
        border: 1px solid #ffffff;
        margin-top: 7px;

        align-self: center;
    }
}

@media screen and (min-width:992px) {
    .flight-booking-page-line {
        width: 74vw;


    }

    .flight-booking-page-heading {

        margin-left: 110px;
    }
}

@media screen and (min-width:1200px) {

    .flight-booking-page-1 {
        height: 49vh;



    }

    .flight-booking-page-heading {

        margin-left: 170px;
    }

    .flight-booking-page-list {
        height: 13vh;

    }

}
